@model PTHShopping.Models.Trang;
@{ var listNew = ViewBag.listNew;
                var spnew = 0;
                var sale = 0;
                var market = 0;
                var shop = 0;
                for (int i = 0; i < listNew.Count; i++)
                {
                    if (listNew[i].TenTrang.Contains("Tin tức về sản phẩm mới"))
                    {
                        spnew += 1;
                    }
                    if (listNew[i].TenTrang.Contains("Tin tức về khuyến mãi"))
                    {
                        sale += 1;
                    }
                    if (listNew[i].TenTrang.Contains("Tin tức về thị trường"))
                    {
                        market += 1;
                    }
                    if (listNew[i].TenTrang.Contains("Tin tức về của hàng"))
                    {
                        shop += 1;
                    }
                } }

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Userassets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/style.css" type="text/css">
    <style>
        .avt {
            object-fit: cover;
        }

        .mini-thumb {
            max-height: 70px;
            max-width: 80px;
            object-position: center;
            object-fit: cover;
            margin-top: 5px;
        }
    </style>
</head>

<body>
    @await Html.PartialAsync("/Views/Shared/_HeaderPartialView.cshtml")
    <!-- Blog Details Hero Begin -->
    <section class="blog-details-hero set-bg" data-setbg="https://images6.alphacoders.com/407/407038.jpg" style="max-height:250px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog__details__hero__text">
                        <h2>@Model.TieuDe</h2>
                        <ul>
                            <li>Bách hóa Online</li>
                            <li>@Model.NgayTao</li>
                            <li>@Model.TenTrang</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">

                        <div class="blog__sidebar__item">
                            <h4>Danh mục</h4>
                            <ul>
                                <li><a id="all" href="/TinTuc/1/all">Tất cả (@listNew.Count)</a></li>
                                <li><a id="new" href="/TinTuc/1/new">Sản phẩm mới (@spnew)</a></li>
                                <li><a id="sale" href="/TinTuc/1/sale">Khuyến mãi (@sale)</a></li>
                                <li><a id="market" href="/TinTuc/1/market">Thị trường (@market)</a></li>
                                <li><a id="shop" href="/TinTuc/1/shop">Cửa hàng (@shop)</a></li>
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Tin gần đây</h4>
                            @if (listNew.Count >= 3)
                            {
                                for (int i = 0; i < 3; i++)
                                {
                <div class="blog__sidebar__recent">
                    <a href="/CtTinTuc/@listNew[i].Idtrang" class="blog__sidebar__recent__item">
                        <div class="blog__sidebar__recent__item__pic">
                            <img class="mini-thumb" src="/@listNew[i].Thumb" alt="">
                        </div>
                        <div class="blog__sidebar__recent__item__text">
                            <h6> @listNew[i].TieuDe</h6>
                            <span>@listNew[i].NgayTao</span>
                        </div>
                    </a>
                </div>}

        }

                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-7 order-md-1 order-1">
                    <div class="blog__details__text">
                        <img src="/@Model.Thumb" alt="">
                        <p>
                            @Html.Raw(Model.NoiDung)
                        </p>

                    </div>
                    <div class="blog__details__content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img class="avt" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125568526/original/cd9c93141521436a112722e8c5c0c7ba0d60a4a2/be-your-telegram-group-admin.jpg" alt="">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h6>Bách hóa online</h6>
                                        <span>Admin</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__widget">
                                    <ul>
                                        <li><span>Danh mục: </span> @Model.TenTrang</li>
                                        <li><span>Ngày đăng:</span> @Model.NgayTao</li>
                                    </ul>
                                    <div class="blog__details__social">
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                        <span>bachhoaonlinepth@gmail.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
    <!-- Related Blog Section Begin -->
    <!-- Related Blog Section End -->
    <!-- Footer Section Begin -->
    @await Html.PartialAsync("/Views/Shared/_FooterPartialView.cshtml")
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Userassets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Userassets/js/bootstrap.min.js"></script>
    <script src="~/Userassets/js/jquery.nice-select.min.js"></script>
    <script src="~/Userassets/js/jquery-ui.min.js"></script>
    <script src="~/Userassets/js/jquery.slicknav.js"></script>
    <script src="~/Userassets/js/mixitup.min.js"></script>
    <script src="~/Userassets/js/owl.carousel.min.js"></script>
    <script src="~/Userassets/js/main.js"></script>



</body>

</html>
@section scripts{
    <script>
        $(document).ready(() => {
            $('#trangkhac').addClass('active');
            $('#trangchu').removeClass('active');
        });
    </script>
}