@model IEnumerable<CartItem>;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giỏ Hàng</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Userassets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userassets/css/style.css" type="text/css">

    <style>
        *:not(.fa,.fas) {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        }

        .pgiamgia {
            height: 45px;
            width: 45px;
            background: #dd2222;
            border-radius: 50%;
            font-size: 14px;
            color: #ffffff;
            line-height: 45px;
            text-align: center;
            position: absolute;
            left: 2px;
            top: 2px;
        }
    </style>
</head>
<body>
    @await Html.PartialAsync("/Views/Shared/_HeaderPartialView.cshtml")

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="https://media.vov.vn/sites/default/files/styles/large/public/2021-04/ronaldo_mu.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Trang Giỏ Hàng</h2>
                        <div class="breadcrumb__option">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số Lượng</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img style="width:100px !important;" src="/@item.Hinh" alt="">
                                            <h5>@item.TenSp</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.DonGia
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            @if (item.TonKho > 0)
                                            {
                                                <form asp-action="SetSL" asp-controller="Cart" asp-route-id="@item.MaSp" asp-route-num=1>
                                                    <button style="width: 30px; background-color: white; border: 1px solid #DCDCDC;">+</button>
                                                </form>
                                            }
                                            @item.SoLuong
                                            <form asp-action="SetSL" asp-controller="Cart" asp-route-id="@item.MaSp" asp-route-num=-1>
                                                <button style="width: 30px; background-color: white; border: 1px solid #DCDCDC;">-</button>
                                            </form>
                                        </td>
                                        <td class="shoping__cart__total">
                                            @item.ThanhTien
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <form asp-action="RemoveFromCart" asp-controller="Cart" asp-route-id="@item.MaSp">
                                                <button style="border:none !important;"><i class="fa fa-times"></i></button>
                                            </form>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Nhập Mã Giảm Giá</h5>
                            <form asp-action="AddMaKM" asp-controller="Cart">
                                <input type="text" name="magg" placeholder="Nhập mã ở đây">
                                <button type="submit" class="site-btn">Áp dụng</button>
                            </form>
                            @if (ViewBag.makmad != null)
                            {
                                <div>Mã khuyến mãi áp dụng: <span style="color:red;">@ViewBag.makmad</span></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Tổng giá trị đơn hàng</h5>
                        <ul>
                            <li>Giá gốc <span>@ViewBag.totalprice VND</span></li>
                            <li>Giá đã giảm <span>@(ViewBag.totalprice * (100 - ViewBag.phantram)/100) VND</span></li>
                        </ul>
                        <a href="@Url.Action("Index", "ThanhToan", new {phantram = ViewBag.phantram})" class="primary-btn">THANH TOÁN</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
    <!-- Js Plugins -->
    @await Html.PartialAsync("/Views/Shared/_FooterPartialView.cshtml")
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Userassets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Userassets/js/bootstrap.min.js"></script>
    <script src="~/Userassets/js/jquery.nice-select.min.js"></script>
    <script src="~/Userassets/js/jquery-ui.min.js"></script>
    <script src="~/Userassets/js/jquery.slicknav.js"></script>
    <script src="~/Userassets/js/mixitup.min.js"></script>
    <script src="~/Userassets/js/owl.carousel.min.js"></script>
    <script src="~/Userassets/js/main.js"></script>
</body>
</html>


@section scripts{
    <script>
        $(document).ready(() => {
            $('#trangchu').removeClass('active');
        });
    </script>
}