@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<PTHShopping.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .False {
        background-color: #696969 !important;
        opacity: 0.8;
    }

    th {
        font-weight: bold !important;
        text-align: center;
    }

    td {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .img {
        width: 70px !important;
        height: 70px !important;
        border-radius: 0 !important;
    }

    .scroll {
        overflow-x: scroll;
        width: 100%;
    }

    td {
        max-width: 200px;
        overflow-x: hidden;
    }
</style>

<h5 class="text-info">Danh sách danh mục</h5>
<br />
<p>
    <a href="/Admin/Categories" class="badge badge-gradient-info"> Tất cả</a>
    <a href="/Admin/Categories/1/1" class="badge badge-gradient-success"> &#10004; Các danh mục Public</a>
    <a href="/Admin/Categories/1/0" class="badge badge-gradient-danger">&#10006; Các danh mục Private</a>
    <a asp-action="Create" class="btn-gradient-primary btn-rounded btn-sm btn float-right mr-5"> <i class="mdi mdi-plus"></i></a>
</p>
<div class="scroll">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Ảnh đại diện
                </th>
                <th>
                    Mã danh mục
                <th>
                    Tên danh mục
                </th>

                <th>
                   Published
                </th>

                <th>
                    Tác vụ
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string tmp = "";
                if (item.Published != null)
                {
                    tmp = item.Published.Value.ToString();
                }
                <tr class="@tmp">
                    <td>
                        @if (item.Thumb != null && item.Thumb != "")
                        {
                            <img class="img" src="/@item.Thumb" />
                        }
                        else
                        {
                            <img class="img" src="https://via.placeholder.com/100" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CatId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CatName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Published)
                    </td>

                    <td>
                        <a class="btn-gradient-primary btn-rounded btn btn-sm" asp-action="Edit" asp-route-id="@item.CatId"><i class="mdi mdi-lead-pencil"></i></a>
                        <a class="btn-gradient-info btn-rounded btn btn-sm" asp-action="Details" asp-route-id="@item.CatId"><i class="mdi mdi-account-card-details"></i></a>
                        <a class="btn-gradient-danger btn-rounded btn btn-sm" asp-action="Delete" asp-route-id="@item.CatId"><i class="mdi mdi-delete-forever"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div aria-label="Page navigation example">
    <ul class="pagination">
        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCategories" asp-route-published="@ViewBag.CurrentFilter"  asp-action="Index" />
    </ul>
</div>
