<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<PTHShopping.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .scroll {
        overflow-x: scroll;
        width: 100%;
    }

    td {
        max-width: 200px;
        overflow-x: hidden;
    }

    th {
        font-weight: bold !important;
        text-align: center !important;
        vertical-align: middle !important;
    }

    td {
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>

<h5 class="text-info">Danh sách tài khoản quản trị -page:@ViewBag.CurrentPage</h5>

<div class="mt-4">
    <select class="cus-select" style="min-width:150px; height:25px; font-size:small;" asp-items="ViewBag.QuyenTruyCap" id="RoleID">
        <option value="all">Tất cả quyền</option>
    </select>
    <select class="cus-select" style="min-width: 100px; height: 25px; font-size:small;" asp-items="ViewBag.lsTrangThai" id="trangthai">
        <option value="all">Tất cả trạng thái</option>
    </select>
    <a asp-action="Create" class="btn-gradient-primary btn-rounded btn-sm btn float-right mr-5"> <i class="mdi mdi-plus"></i></a>
</div>
<div class="scroll">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Họ tên
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Email
                </th>
                <th>
                    Mật khẩu (mã hóa)
                </th>
                <th>
                    Lần đăng nhập cuối
                </th>
                <th>
                    Hoạt động
                </th>
                <th>
                    Tác vụ
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sdt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastLogin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>

                    <td>
                        <a class="btn-gradient-primary btn-rounded btn btn-sm" asp-action="Edit" asp-route-id="@item.AccountId"><i class="mdi mdi-lead-pencil"></i></a>
                        <a class="btn-gradient-info btn-rounded btn btn-sm" asp-action="Details" asp-route-id="@item.AccountId"><i class="mdi mdi-account-card-details"></i></a>
                        <a class="btn-gradient-danger btn-rounded btn btn-sm" asp-action="Delete" asp-route-id="@item.AccountId"><i class="mdi mdi-delete-forever"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


<div aria-label="Page navigation example">
    <ul class="pagination">
        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="Accounts" asp-route-RoleID="@ViewBag.CurrentRoleID" asp-route-trangthai="@ViewBag.Currenttrangthai" asp-action="Index" />
    </ul>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            jQuery("#trangthai").change(function () {
                var roleID = jQuery("#RoleID").children(":selected").attr("value");
                var trangthain = jQuery(this).children(":selected").attr("value");
                $("#trangthai option").removeAttr('selected');
                $("#trangthai option[value=" + trangthain + "]").attr("selected", "selected");
                $.ajax({
                    url: '/Admin/Accounts/Filter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        RoleID: roleID,
                        trangthai: trangthain,
                    },
                    async: true,
                    success: function (result) {
                        if (result.status == "success") {
                            window.location.href = result.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error')
                    }
                });
            });
            jQuery("#RoleID").change(function () {
                var trangthain = jQuery("#trangthai").children(":selected").attr("value");
                var roleID = jQuery(this).children(":selected").attr("value");
                $("#RoleID option").removeAttr('selected');
                $("#RoleID option[value=" + roleID + "]").attr("selected", "selected");
                $.ajax({
                    url: '/Admin/Accounts/Filter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        RoleID: roleID,
                        trangthai: trangthain,
                    },
                    async: true,
                    success: function (result) {
                        if (result.status == "success") {
                            window.location.href = result.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error')
                    }
                });
            });
        });
    </script>
}
