@model IEnumerable<PTHShopping.Models.KhachHang>
@using System.Security.Claims;
@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@{
    var idKH = User.Claims.First(c => c.Type == "IdKH").Value.Trim();
} 
<table class="table">
    @{
        var test = Model.Where(c => c.IdkhachHang == @idKH);
    }
    @foreach (var item in test)
    {
        <tr>
            <th>
                <span>Avatar</span>
            </th>
            <td>
                <img src="/@item.Avatar" />
            </td>
        </tr>
        <tr>
            <th>
                <span>Họ tên</span>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
        </tr>


        <tr>
            <th>
                <span>Giới tính</span>
            </th>
            <td>
                @if (item.Giotinh == false)
                {
                    <span>Nữ</span>
                }
                else
                {
                    <span>Nam</span>
                }
            </td>
        </tr>
        <tr>
            <th>
                <span>Sinh nhật</span>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.SinhNhat)
            </td>
        </tr>
        <tr>
            <th>
                <span>Địa chỉ</span>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
        </tr>
        <tr>
            <th>
                <span>Email</span>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
        <tr>
            <th>
                <span>Số điện thoại</span>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
        </tr>
        <tr>
            <th>
                <span>Ngày tạo</span>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <center>
                    <a style="font-size:20px;" asp-action="Edit" asp-route-id="@item.IdkhachHang">Sửa</a>
                </center>
            </td>
        </tr>
    }
</table>
