@model IEnumerable<PTHShopping.Models.DonHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h5 class="text-info">Danh sách các đơn hàng</h5>

<p>
    
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Ngày đặt
            </th>
            <th>
                Ngày giao
            </th>
            
            <th>
                Khách hàng
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ghi chú
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IddonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDatHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdkhachHangNavigation.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdtrangThaiGiaoDichNavigation.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IddonHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IddonHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IddonHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
