@model IEnumerable<PTHShopping.Models.DonHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDatHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdthanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdkhachHangNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdtrangThaiGiaoDichNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDatHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdthanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdkhachHangNavigation.IdkhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdtrangThaiGiaoDichNavigation.IdtrangThaiGiaoDich)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IddonHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IddonHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IddonHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
