@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<PTHShopping.Models.KhachHang>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h5 class="text-info">Danh sách khách hàng - page: @CurrentPage</h5>

<p>
    <a asp-action="Create" class="btn-gradient-primary btn-rounded btn-sm btn float-right mr-5"> <i class="mdi mdi-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Họ tên
            </th>
            <th>
               Email
            </th>
            <th>
               Số điện thoại
            </th>
            <th>
               Địa chỉ
            </th>
            <th>
                Tỉnh/Thành
            </th>
            <th>
               Lần đăng nhập cuối
            </th>
            <th>
               Hoạt động
            </th>
            <th>
                Tác vụ
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdvitriNavigation.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a class="btn-gradient-primary btn-rounded btn btn-sm" asp-action="Edit" asp-route-id="@item.IdkhachHang"><i class="mdi mdi-lead-pencil"></i></a>
                <a class="btn-gradient-info btn-rounded btn btn-sm" asp-action="Details" asp-route-id="@item.IdkhachHang"><i class="mdi mdi-account-card-details"></i></a>
                <a class="btn-gradient-danger btn-rounded btn btn-sm" asp-action="Delete" asp-route-id="@item.IdkhachHang"><i class="mdi mdi-delete-forever"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<div aria-label="Page navigation example">
    <ul class="pagination">
        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminKhachHangs" asp-action="Index" />
    </ul>
</div>